.welcome-header {
  font-size: 34px;
  font-weight: bolder;
}

.todo-item {
  border: none;
  border-radius: 1.25rem;
  list-style-type: none;
  position: relative;
  overflow: hidden;
}

.todo-item .form-check-input {
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}

.todo-item .badge {
  font-size: 0.8rem;
}

.todo-item .btn-sm {
  margin-top: -0.3rem;
}

.completed-text {
  position: relative;
  text-decoration: line-through;
  color: #ccc;
}

.completed-line {
  content: '';
  position: absolute;
  bottom: 35%;
  left: 0;
  height: 2px;
  background-color: red;
}

.animate-forwards {
  width: 0;
  animation: drawLine 0.5s ease-in-out forwards;
}

.animate-backwards {
  width: 100%;
  animation: reverseDrawLine 0.5s ease-in-out forwards;
}

@keyframes drawLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes reverseDrawLine {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.app-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 75vw;
  transform: translateX(-75vw);
  transition: transform 0.3s ease;
  z-index: 1;
}

.sidebar.open {
  transform: translateX(0);
}

.main-content {
  position: relative;
  background: #f9faff;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  padding: 50px;
  transition: transform 0.8s ease, border-radius 0.5s ease;

}

.app-container.sidebar-open .main-content {
  transform: translateX(72vw) scale(0.9);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-radius: 100px;
}
 